 footer {
   background-image: url('/images/footer/background.jpg');
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   min-height: 501px;
 }

 footer::after {
   display: block;
   content: '© Pizzaria  2024 | Produzido por Wesley de Santana';
   background-color: #434343;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   height: 40px;
   width: 100%;
 }

 h4 {
   font-size: 22px;
   color: rgb(17, 17, 17);
   margin-bottom: 16px;
   font-weight: bold;
 }

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .box {
   width: 100%;
   min-height: 501px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 32px;
 }

 .box>div {
   flex: 1 1 calc(100% / 3);
   text-align: center;
   background-color: white;
   height: 200px;
   display: flex;
   padding: 32px;
   flex-direction: column;
   align-items: center;
   gap: 8px;
 }

 .box div p {
   font-size: 18px;
   color: rgb(17, 17, 17);
   margin-bottom: 4px;
 }

 span {
   font-weight: bold;
   color: rgb(17, 17, 17);
 }

 @media (max-width: 768px) {
   .box {
     padding: 32px;
   }

   .box>div {
     flex: 1 1 100%;
   }
 }
